@import "bulma/sass/utilities/initial-variables";
@import "bulma/sass/utilities/derived-variables";

.session-selector {
  & .message-header {
    // background-color: $white-ter;
    // color: $black;
    // border-bottom: 1px solid lightgrey;
    // flex-wrap: wrap;

    & label {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    & .buttons {
      flex-wrap: nowrap;
    }
  }

  border: 1px solid lightgrey;

  // background-color: transparent;
}
