@import "bulma/sass/utilities/initial-variables";
@import "bulma/sass/utilities/derived-variables";

// $border-light: #ededed;

.bordered {
  box-shadow: none;
  border: 1px solid $border;
  border-radius: 4px;
}

.button-card {
  height: unset;
  text-align: left;
  line-height: 1.2;

  max-width: 100%;
  white-space: pre-wrap;
  justify-content: left;
}